
:root {
  --blue: #007bff;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #ddeaff;
  --white: #fff;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f7fafc;
  --dark: #2d3748;
  --darker: #1a202c;
  --border: #cbd5e0;
  --lighter-border: #edf2f7;
  --dark-border: #4a5568;
  --text-gray-200: #edf2f7;
  --text-gray-300: #e2e8f0;
  --text-gray-400: #cbd5e0;
  --text-gray-500: #a0aec0;
  --text-gray-600: #718096;
  --text-gray-700: #4a5568;
  --text-gray-900: #1a202c;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}
@-webkit-keyframes ping {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	75%,to {
		transform: scale(2);
		opacity: 0;
	}
}
@keyframes ping {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	75%,to {
		transform: scale(2);
		opacity: 0;
	}
}
@-webkit-keyframes pulse {
	0%,to {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@keyframes pulse {
	0%,to {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@-webkit-keyframes bounce {
	0%,to {
		transform: translateY(-25%);
		-webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		-webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
@keyframes bounce {
	0%,to {
		transform: translateY(-25%);
		-webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		-webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	font-family: var(--font-family-sans-serif);
	line-height: 1.5;
}
body {
	margin: 0;
}
a {
	background-color: transparent;
	color: inherit;
	text-decoration: inherit;
}
code {
	font-size: 1em;
	font-family: var(--font-family-monospace);
}
[hidden] {
	display: none;
}
* {
	box-sizing: border-box;
	border: 0 solid #e2e8f0;

  &:after {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
  }
  &:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
  }
}
svg {
	display: block;
	vertical-align: middle;
}
video {
	display: block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.bg-white {
	--bg-opacity: 1;
	background-color: var(--white);
}
.bg-gray-100 {
	--bg-opacity: 1;
	background-color: var(--light);
}
.border-gray-200 {
	--border-opacity: 1;
	border-color: var(--lighter-border);
}
.border-gray-400 {
	--border-opacity: 1;
	border-color: var(--border);
}
.border-t {
	border-top-width: 1px;
}
.border-r {
	border-right-width: 1px;
}
.flex {
	display: flex;

  &.flex-column{
    flex-direction: column;
  }
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}
.font-semibold {
	font-weight: 600;
}
.h-5 {
	height: 1.25rem;
}
.h-8 {
	height: 2rem;
}
.h-16 {
	height: 4rem;
}
.text-sm {
	font-size: 0.875rem;
}
.text-md {
	font-size: 1rem;
}
.text-lg {
	font-size: 1.125rem;
}
.leading-7 {
	line-height: 1.75rem;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.ml-1 {
	margin-left: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.ml-4 {
	margin-left: 1rem;
}
.mt-8 {
	margin-top: 2rem;
}
.ml-12 {
	margin-left: 3rem;
}
.-mt-px {
	margin-top: -1px;
}
.max-w-xl {
	max-width: 36rem;
}
.max-w-6xl {
	max-width: 72rem;
}
.min-h-screen {
	min-height: 100vh;
}
.overflow-hidden {
	overflow: hidden;
}
.p-6 {
	padding: 1.5rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.pt-8 {
	padding-top: 2rem;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.top-0 {
	top: 0;
}
.right-0 {
	right: 0;
}
.shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.text-center {
	text-align: center;
}
.text-gray-200 {
	color: var(--text-gray-200);
}
.text-gray-300 {
	color: var(--text-gray-300);
}
.text-gray-400 {
	color: var(--text-gray-400);
}
.text-gray-500 {
	--text-opacity: 1;
	color: var(--text-gray-500);
}
.text-gray-600 {
	color: var(--text-gray-600);
}
.text-gray-700 {
	color: var(--text-gray-700);
}
.text-gray-900 {
	color: var(--text-gray-900);
}
.uppercase {
	text-transform: uppercase;
}
.underline {
	text-decoration: underline;
}
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.tracking-wider {
	letter-spacing: 0.05em;
}
.w-5 {
	width: 1.25rem;
}
.w-8 {
	width: 2rem;
}
.w-auto {
	width: auto;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 320px) {
	.sm {
		&\:rounded-lg {
			border-radius: 0.5rem;
		}
		&\:block {
			display: block;
		}
		&\:items-center {
			align-items: center;
		}
		&\:justify-start {
			justify-content: flex-start;
		}
		&\:justify-between {
			justify-content: space-between;
		}
		&\:h-20 {
			height: 5rem;
		}
		&\:ml-0 {
			margin-left: 0;
		}
		&\:px-6 {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		&\:pt-0 {
			padding-top: 0;
		}
		&\:text-left {
			text-align: left;
		}
		&\:text-right {
			text-align: right;
		}
	}
}
@media (min-width: 768px) {
	.md {
		&\:border-t-0 {
			border-top-width: 0;
		}
		&\:border-l {
			border-left-width: 1px;
		}
		&\:grid-cols-2 {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
}
@media (min-width: 1024px) {
	.lg {
		&\:px-8 {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}
@media (prefers-color-scheme: dark) {
	.dark {
		&\:bg-gray-800 {
			background-color: var(--dark);
		}
		&\:bg-gray-900 {
			background-color: var(--darker);
		}
		&\:border-gray-700 {
			border-color: var(--dark-border);
		}
		&\:text-white {
			color: var(--white);
		}
		&\:text-gray-400 {
			color: var(--text-gray-400);
		}
	}
}


.fnt1 {
  font-family: 'Poppins', sans-serif !important;
}

#app {

  header {
    font-weight: 600;
  }

  .display-boxes {

    .box {
      margin-top: 10px;
      background-color: var(--cyan);
      font-size: .8em;
      box-shadow: 1px 2px 5px #c7cbd9;
      border-radius: 5px;

      input {
        transform: scale(1.3);
      }
    }

    .dropbox {
      border: 2px solid #fff;
    }
  }

  #error_log {
    font-size: .6em !important;
    background-color: var(--red);
  }

  #success_log {
    font-size: .6em !important;
    background-color: var(--green);
  }
}

#product_form{
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #c9cfe3;
  padding: 30px;
}
